*.swp
*.swn
*.swo
*/*.swp
*/*.swn
*/*.swo
*/**/*.swp
*/**/*.swn
*/**/*.swo
log/*.log
tmp/*
tmp/**/*
db/*.sqlite3
public/system/**/*
config/database.yml
.loadpath
.project
Capfile
config/deploy.rb
nbproject/*
