config/database.yml
*.swp
*.swn
*.swo
*/*.swp
*/*.swn
*/*.swo
*/**/*.swp
*/**/*.swn
*/**/*.swo
log/*.log
tmp/*
tmp/**/*
db/*.sqlite3
public/system/**/*
.loadpath
.project
Capfile
config/deploy.rb
config/newrelic.yml
nbproject/*
db/schema.rb
tags.orig
tags
*.orig
*/*.orig
*/**/*.orig
