- title "Item Receive"

%p
  %strong Purchase Order:
  =h @item_receive.purchase_order_id
%p
  %strong Number:
  =h @item_receive.number
%p
  %strong User Date:
  =h @item_receive.user_date
%p
  %strong Remark:
  =h @item_receive.remark

%p
  = link_to "Edit", edit_item_receive_path(@item_receive)
  |
  = link_to "Destroy", @item_receive, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", item_receives_path
