<p>
  <b>Company:</b>
  <%=h @price_list.company_id %>
</p>

<p>
  <b>Code:</b>
  <%=h @price_list.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @price_list.name %>
</p>


<%= link_to 'Edit', edit_price_list_path(@price_list) %> |
<%= link_to 'Back', price_lists_path %>