- current = { 'oh' => nil, 'sales' => nil }
- current[@current] = 'current'

%ul#sidemenu
  %li
    = link_to "On Hands", reports_on_hands_path, :class => current['oh']
    %div
  %li
    = link_to "Items Movement", reports_item_movements_path, :class => current['im']
    %div
  %li
    = link_to "Stock Card", reports_stock_cards_path, :class => current['sc']
    %div
  %li
    =link_to "Sales Order", reports_sales_orders_path, :class => current['so'];
