- current = { 'gt' => nil, 'bb' => nil, 'tt' => nil, 'tr' => nil, 'in' => nil, 'io' => nil, 'pur' => nil }
- current[@current] = 'current'
%ul#sidemenu
  %li
    = link_to "General Transaction", general_transactions_path, :class => current['gt']
    %div
  %li
    = link_to "Begining Balances", begining_balances_path, :class => current['bb']
    %div
  %li
    = link_to "Purchasing", '#', :class => current['pur']
    %div
