- title "New Transaction Assembling"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    link_to('Assembling', trans_assemblies_path), |
    'New Assembling' ] |

  = sidemenu @tab

= hint "Don't Forget select warehouse and code Assembling"

= render :partial => 'form'

