- title "Edit Purchasing/Quotation Request"

= render :partial => 'form'

%p
  = link_to "Show", purchasing/quotation_request_path(@purchasing/quotation_request)
  |
  = link_to "View All", purchasing/quotation_requests_path
