- title "Edit Purchasing/Purchase Order"

= render :partial => 'form'

%p
  = link_to "Show", purchasing/purchase_order_path(@purchasing/purchase_order)
  |
  = link_to "View All", purchasing/purchase_orders_path
