- title "New Purchasing::Purchase Order"

- content_for :breadcrumb do
  = breadcrumb [ link_to('Transactions', transactions_path), |
    'Purchasing', |
    link_to('Purchase Orders', purchasing_purchase_orders_path), |
    'New Purchase Order' ] |

  = sidemenu @tab

= hint "Select one of the transaction type first to show the transaction form"

= render :partial => 'form'
